.page {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  padding: 5vh 0;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    width: 70vw;
    max-width: 1700px;
  }

  overflow: hidden;
  .main {
    display: flex;
    // border: 2px solid red;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  h1,
  h2,
  h3 {
    color: white;
    font-size: clamp(3rem, 70vw, 12rem);
    font-weight: 500;
    text-transform: uppercase;
    animation: fadeInUp 0.7s ease-out;
    animation-fill-mode: both;
    opacity: 0; // Hide initially
    text-align: center;
  }

  .navList {
    animation: fadeInUp 0.7s ease-out;
    animation-fill-mode: both;
    opacity: 0; // Hide initially
  }

  h1 {
    animation-delay: 0s;
  }
  h2 {
    animation-delay: 0.2s;
  }
  h3 {
    animation-delay: 0.4s;
  }

  .navList {
    animation-delay: 0.6s;
  }

  .homePageBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  h2 {
    font-size: clamp(1.5rem, 70vw, 6rem);
    font-weight: 600;
    text-transform: none;
  }
  h3 {
    font-size: clamp(1rem, 10vw, 1.75rem);
    color: white;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.experienceCard {
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  padding: 20px 15px;
  border-radius: 10px;
  margin: 10px 0;

  .experienceHeader {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    h3 {
      color: #7cd8d4;
    }
  }

  h3 {
    width: 1200px;
    margin: 0;
    text-align: left;
  }

  ul {
    padding-left: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    list-style-type: disc;
    margin: 0;
  }
}
