.page {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  padding: 5vh 0;
  // Make the background the cube_wallpaper.png from the public folder but at 50% opacity
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/cube_wallpaper.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .main {
    display: flex;
    // border: 2px solid red;
    justify-content: center;
    flex-direction: column;
    // width: 80vw;
  }
  h1,
  h2,
  h3 {
    color: white;
    font-size: clamp(3rem, 70vw, 12rem);
    font-weight: 500;
    text-transform: uppercase;
    animation: fadeInUp 0.7s ease-out;
    animation-fill-mode: both;
    opacity: 0; // Hide initially
    text-align: center;
  }

  .navList {
    animation: fadeInUp 0.7s ease-out;
    animation-fill-mode: both;
    opacity: 0; // Hide initially
  }

  h1 {
    animation-delay: 0s;
  }
  h2 {
    animation-delay: 0.2s;
  }
  h3 {
    animation-delay: 0.4s;
  }

  .navList {
    animation-delay: 0.6s;
  }

  .homePageBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  h2 {
    font-size: clamp(1.5rem, 8vw, 2.5rem);
  }
  h3 {
    font-size: clamp(1rem, 10vw, 1.75rem);
    color: white;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
  font-family: 'roboto mono', monospace;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: clamp(0.75rem, 5vw, 1.25rem);
  li {
    list-style: none;

    color: white;
    text-decoration: none;
    font-size: clamp(1rem, 5vw, 1.5rem);
    font-weight: 500;
    transition: color 0.3s ease;
    opacity: 0.75;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

.asFeaturedInBlock {
  margin-top: 80px;
  opacity: 0.75;
  h3 {
    font-size: clamp(1rem, 5vw, 1.5rem);
    color: white;
    font-weight: 400;
  }
  .featuredInLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    img {
      filter: brightness(0) invert(1);
      opacity: 0.7;
    }
  }
}
